html {
  line-height: 1.5;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

body {
  background: var(--bg-canvas);
  color: var(--fg-default);
  font-family: var(--font-body), sans-serif;
}

body._dark {
  color-scheme: dark;
}

*,
*::before,
*::after {
  border-color: var(--border-default);
  border-style: solid;
  box-sizing: border-box;
}

*::placeholder {
  opacity: 1;
  color: var(--fg-subtle);
}
