---
import '@fontsource-variable/inter'
import '@fontsource-variable/outfit'
import '@fontsource-variable/plus-jakarta-sans'
import '@fontsource-variable/raleway'
import '@fontsource-variable/roboto-mono'
import { ViewTransitions } from 'astro:transitions'
import "../index.css"

interface Props {
  title: string
  description?: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{title} | Park UI</title>
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="Panda,Tailwind,CSS,Ark UI,Components,Library,React,Solid,Vue" />
    <link rel="manifest" href="/manifest.webmanifest" />
    <link rel="sitemap" href="/sitemap.xml" />

    <!-- Icons -->
    <link rel="icon" href="/icon.svg" type="image/svg+xml" sizes="any" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" sizes="32x32" />
    <link rel="apple-touch-icon" href="/apple-icon.png" type="image/png" sizes="180x180" />

    <!-- OpenGraph -->
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://park-ui.com/opengraph-image.png" />
    <meta property="og:url" content="https://park-ui.com" />
    <meta property="og:title" content="Park UI" />
    <meta
      property="og:description"
      content="Beautifully designed components built for your choice of JS and CSS frameworks."
    />
    <meta property="og:locale" content="en_US" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@grizzly_codes" />
    <meta property="twitter:title" content="Park UI" />
    <meta
      name="twitter:description"
      content="Beautifully designed components built for your choice of JS and CSS frameworks."
    />
    <meta name="twitter:image" content="https://park-ui.com/twitter-image.png" />

    <!-- Tracking -->
    <script defer data-domain="park-ui.com" src="https://plausible.io/js/script.js"></script>
    <ViewTransitions />

    <!-- Inlined to avoid FOUC. -->
    <script is:inline>
      const setColorMode = () => {
        // @ts-expect-error
        if (JSON.parse(window.localStorage.getItem('park-ui-color-mode')) === 'dark') {
          document.documentElement.classList.add('dark')
        }
      }
      setColorMode()
      document.addEventListener('astro:after-swap', setColorMode)
    </script>
  </head>
  <body>
    <slot />
  </body>
</html>
