[submodule "components/solid/src/plus"]
	path = components/solid/src/plus
	url = git@github.com:cschroeter/park-ui-plus_solid.git
[submodule "components/vue/src/plus"]
	path = components/vue/src/plus
	url = git@github.com:cschroeter/park-ui-plus_vue.git
[submodule "components/react/plus"]
	path = components/react/plus
	url = git@github.com:cschroeter/park-ui-plus_react.git
