---
import { SiGithub, SiTwitter } from '@icons-pack/react-simple-icons'
import { css, cx } from 'styled-system/css'
import { Box, Container, HStack } from 'styled-system/jsx'
import { button } from 'styled-system/recipes'
import ColorModeButton from '~/components/color-mode-button.astro'
import { Logo } from '~/components/logo'
---

<Box divideY="1px">
  <Container>
    <HStack justify="space-between" py="3" gap="8">
      <a href="/" aria-label="Go to start page">
        <Logo />
      </a>
      <HStack gap="1">
        <a
          href="https://twitter.com/grizzly_codes"
          target="_blank"
          class={cx(button({ variant: 'ghost' }), css({ px: '0' }))}
        >
          <SiTwitter />
        </a>
        <a
          href="https://github.com/cschroeter/park-ui"
          target="_blank"
          class={cx(button({ variant: 'ghost' }), css({ px: '0' }))}
        >
          <SiGithub />
        </a>
        <ColorModeButton />
      </HStack>
    </HStack>
  </Container>
  <slot />
</Box>
