@layer reset, base, tokens, recipes, utilities;

@layer tokens {
  :where(:root, .light, .dark) {
    &[data-gray-color="sand"] {
      --colors-gray-1: var(--colors-sand-1);
      --colors-gray-2: var(--colors-sand-2);
      --colors-gray-3: var(--colors-sand-3);
      --colors-gray-4: var(--colors-sand-4);
      --colors-gray-5: var(--colors-sand-5);
      --colors-gray-6: var(--colors-sand-6);
      --colors-gray-7: var(--colors-sand-7);
      --colors-gray-8: var(--colors-sand-8);
      --colors-gray-9: var(--colors-sand-9);
      --colors-gray-10: var(--colors-sand-10);
      --colors-gray-11: var(--colors-sand-11);
      --colors-gray-12: var(--colors-sand-12);
      --colors-gray-a1: var(--colors-sand-a1);
      --colors-gray-a2: var(--colors-sand-a2);
      --colors-gray-a3: var(--colors-sand-a3);
      --colors-gray-a4: var(--colors-sand-a4);
      --colors-gray-a5: var(--colors-sand-a5);
      --colors-gray-a6: var(--colors-sand-a6);
      --colors-gray-a7: var(--colors-sand-a7);
      --colors-gray-a8: var(--colors-sand-a8);
      --colors-gray-a9: var(--colors-sand-a9);
      --colors-gray-a10: var(--colors-sand-a10);
      --colors-gray-a11: var(--colors-sand-a11);
      --colors-gray-a12: var(--colors-sand-a12);
    }
    &[data-gray-color="slate"] {
      --colors-gray-1: var(--colors-slate-1);
      --colors-gray-2: var(--colors-slate-2);
      --colors-gray-3: var(--colors-slate-3);
      --colors-gray-4: var(--colors-slate-4);
      --colors-gray-5: var(--colors-slate-5);
      --colors-gray-6: var(--colors-slate-6);
      --colors-gray-7: var(--colors-slate-7);
      --colors-gray-8: var(--colors-slate-8);
      --colors-gray-9: var(--colors-slate-9);
      --colors-gray-10: var(--colors-slate-10);
      --colors-gray-11: var(--colors-slate-11);
      --colors-gray-12: var(--colors-slate-12);
      --colors-gray-a1: var(--colors-slate-a1);
      --colors-gray-a2: var(--colors-slate-a2);
      --colors-gray-a3: var(--colors-slate-a3);
      --colors-gray-a4: var(--colors-slate-a4);
      --colors-gray-a5: var(--colors-slate-a5);
      --colors-gray-a6: var(--colors-slate-a6);
      --colors-gray-a7: var(--colors-slate-a7);
      --colors-gray-a8: var(--colors-slate-a8);
      --colors-gray-a9: var(--colors-slate-a9);
      --colors-gray-a10: var(--colors-slate-a10);
      --colors-gray-a11: var(--colors-slate-a11);
      --colors-gray-a12: var(--colors-slate-a12);
    }
    &[data-gray-color="neutral"] {
      --colors-gray-1: var(--colors-neutral-1);
      --colors-gray-2: var(--colors-neutral-2);
      --colors-gray-3: var(--colors-neutral-3);
      --colors-gray-4: var(--colors-neutral-4);
      --colors-gray-5: var(--colors-neutral-5);
      --colors-gray-6: var(--colors-neutral-6);
      --colors-gray-7: var(--colors-neutral-7);
      --colors-gray-8: var(--colors-neutral-8);
      --colors-gray-9: var(--colors-neutral-9);
      --colors-gray-10: var(--colors-neutral-10);
      --colors-gray-11: var(--colors-neutral-11);
      --colors-gray-12: var(--colors-neutral-12);
      --colors-gray-a1: var(--colors-neutral-a1);
      --colors-gray-a2: var(--colors-neutral-a2);
      --colors-gray-a3: var(--colors-neutral-a3);
      --colors-gray-a4: var(--colors-neutral-a4);
      --colors-gray-a5: var(--colors-neutral-a5);
      --colors-gray-a6: var(--colors-neutral-a6);
      --colors-gray-a7: var(--colors-neutral-a7);
      --colors-gray-a8: var(--colors-neutral-a8);
      --colors-gray-a9: var(--colors-neutral-a9);
      --colors-gray-a10: var(--colors-neutral-a10);
      --colors-gray-a11: var(--colors-neutral-a11);
      --colors-gray-a12: var(--colors-neutral-a12);
    }
    &[data-gray-color="mauve"] {
      --colors-gray-1: var(--colors-mauve-1);
      --colors-gray-2: var(--colors-mauve-2);
      --colors-gray-3: var(--colors-mauve-3);
      --colors-gray-4: var(--colors-mauve-4);
      --colors-gray-5: var(--colors-mauve-5);
      --colors-gray-6: var(--colors-mauve-6);
      --colors-gray-7: var(--colors-mauve-7);
      --colors-gray-8: var(--colors-mauve-8);
      --colors-gray-9: var(--colors-mauve-9);
      --colors-gray-10: var(--colors-mauve-10);
      --colors-gray-11: var(--colors-mauve-11);
      --colors-gray-12: var(--colors-mauve-12);
      --colors-gray-a1: var(--colors-mauve-a1);
      --colors-gray-a2: var(--colors-mauve-a2);
      --colors-gray-a3: var(--colors-mauve-a3);
      --colors-gray-a4: var(--colors-mauve-a4);
      --colors-gray-a5: var(--colors-mauve-a5);
      --colors-gray-a6: var(--colors-mauve-a6);
      --colors-gray-a7: var(--colors-mauve-a7);
      --colors-gray-a8: var(--colors-mauve-a8);
      --colors-gray-a9: var(--colors-mauve-a9);
      --colors-gray-a10: var(--colors-mauve-a10);
      --colors-gray-a11: var(--colors-mauve-a11);
      --colors-gray-a12: var(--colors-mauve-a12);
    }
    &[data-gray-color="olive"] {
      --colors-gray-1: var(--colors-olive-1);
      --colors-gray-2: var(--colors-olive-2);
      --colors-gray-3: var(--colors-olive-3);
      --colors-gray-4: var(--colors-olive-4);
      --colors-gray-5: var(--colors-olive-5);
      --colors-gray-6: var(--colors-olive-6);
      --colors-gray-7: var(--colors-olive-7);
      --colors-gray-8: var(--colors-olive-8);
      --colors-gray-9: var(--colors-olive-9);
      --colors-gray-10: var(--colors-olive-10);
      --colors-gray-11: var(--colors-olive-11);
      --colors-gray-12: var(--colors-olive-12);
      --colors-gray-a1: var(--colors-olive-a1);
      --colors-gray-a2: var(--colors-olive-a2);
      --colors-gray-a3: var(--colors-olive-a3);
      --colors-gray-a4: var(--colors-olive-a4);
      --colors-gray-a5: var(--colors-olive-a5);
      --colors-gray-a6: var(--colors-olive-a6);
      --colors-gray-a7: var(--colors-olive-a7);
      --colors-gray-a8: var(--colors-olive-a8);
      --colors-gray-a9: var(--colors-olive-a9);
      --colors-gray-a10: var(--colors-olive-a10);
      --colors-gray-a11: var(--colors-olive-a11);
      --colors-gray-a12: var(--colors-olive-a12);
    }
    &[data-gray-color="sage"] {
      --colors-gray-1: var(--colors-sage-1);
      --colors-gray-2: var(--colors-sage-2);
      --colors-gray-3: var(--colors-sage-3);
      --colors-gray-4: var(--colors-sage-4);
      --colors-gray-5: var(--colors-sage-5);
      --colors-gray-6: var(--colors-sage-6);
      --colors-gray-7: var(--colors-sage-7);
      --colors-gray-8: var(--colors-sage-8);
      --colors-gray-9: var(--colors-sage-9);
      --colors-gray-10: var(--colors-sage-10);
      --colors-gray-11: var(--colors-sage-11);
      --colors-gray-12: var(--colors-sage-12);
      --colors-gray-a1: var(--colors-sage-a1);
      --colors-gray-a2: var(--colors-sage-a2);
      --colors-gray-a3: var(--colors-sage-a3);
      --colors-gray-a4: var(--colors-sage-a4);
      --colors-gray-a5: var(--colors-sage-a5);
      --colors-gray-a6: var(--colors-sage-a6);
      --colors-gray-a7: var(--colors-sage-a7);
      --colors-gray-a8: var(--colors-sage-a8);
      --colors-gray-a9: var(--colors-sage-a9);
      --colors-gray-a10: var(--colors-sage-a10);
      --colors-gray-a11: var(--colors-sage-a11);
      --colors-gray-a12: var(--colors-sage-1a2);
    }
  }
}
