---
import { Code } from 'astro:components'
import { Box, Flex, Stack } from 'styled-system/jsx'
import { CodePreview } from './code-preview'
import { Button } from '../ui'
import { code } from './code'
---

<Box className="not-prose">
  <Stack gap="12">
    <Box borderRadius="l3" overflow="hidden" divideY="1px" borderWidth="1px">
      <Flex justify="center" align="center" p="6">
        <Button>Hello world</Button>
      </Flex>
      <Box>
        <CodePreview tabs={['react', 'solid', 'vue']} expanable client:load>
          <Code code={code} lang="tsx" theme="css-variables" slot="react" />
          <Code code="console.log('hello solid')" lang="tsx" theme="css-variables" slot="solid" />
          <Code code="console.log('hello vue')" lang="tsx" theme="css-variables" slot="vue" />
        </CodePreview>
      </Box>
    </Box>
    <Box borderWidth="1px" borderRadius="l3" overflow="hidden">
      <CodePreview tabs={['react', 'solid', 'vue']} client:load>
        <Code code="console.log('hello react')" lang="tsx" theme="css-variables" slot="react" />
        <Code code="console.log('hello solid')" lang="tsx" theme="css-variables" slot="solid" />
        <Code code="console.log('hello vue')" lang="tsx" theme="css-variables" slot="vue" />
      </CodePreview>
    </Box>
    <CodePreview client:load>
      <Code code="console.log('hello react')" lang="tsx" theme="css-variables" />
    </CodePreview>
  </Stack>
</Box>
