---
import {
  SiAstro,
  SiGatsby,
  SiNextdotjs,
  SiNuxtdotjs,
  SiSolid,
} from '@icons-pack/react-simple-icons'
import { Flex, Grid, Stack } from 'styled-system/jsx'
import { Text } from '~/components/ui'

const { slug } = Astro.params
const cssFramework = slug?.split('/')[0] ?? 'panda'

const frameworks = [
  { name: 'Next.js', icon: SiNextdotjs, slug: 'panda/react/next-js' },
  { name: 'Astro', icon: SiAstro, slug: 'panda/react/astro' },
  { name: 'Gatsby', icon: SiGatsby, slug: 'panda/react/gatsby' },
  { name: 'Solid', icon: SiSolid, slug: 'panda/solid/vite' },
  { name: 'Nuxt', icon: SiNuxtdotjs, slug: 'panda/vue/nuxt' },

  { name: 'Next.js', icon: SiNextdotjs, slug: 'tailwind/react/next-js' },
  { name: 'Astro', icon: SiAstro, slug: 'tailwind/react/astro' },
  { name: 'Gatsby', icon: SiGatsby, slug: 'tailwind/react/gatsby' },
  { name: 'Solid', icon: SiSolid, slug: 'tailwind/solid/vite' },
  { name: 'Nuxt', icon: SiNuxtdotjs, slug: 'tailwind/vue/nuxt' },
]
---

<Grid gap={{ base: '4', md: '6' }} minChildWidth="7rem" className="not-prose">
  {
    frameworks
      .filter((framework) => framework.slug.startsWith(cssFramework))
      .map(({ name, icon: Icon, slug }) => (
        <a
          href={'https://stackblitz.com/github/cschroeter/park-ui/tree/main/examples/' + slug}
          target="_blank"
        >
          <Flex
            borderRadius="l3"
            borderWidth="1px"
            p="4"
            bg="bg.default"
            color="fg.default"
            align="center"
            justify="center"
          >
            <Stack gap="2.5">
              <Icon size="48" />
              <Text textStyle="sm" textAlign="center">
                {name}
              </Text>
            </Stack>
          </Flex>
        </a>
      ))
  }
</Grid>
